




.btn-primary {
    background-color: #1AAB8A;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    outline: transparent;
    border: transparent;
    margin-right: 5px;
    margin-top: 20px;
}

.txt-input {
    padding: 5px 2px;
    border: 2px solid #1AAB8A;
    border-radius: 5px;
    outline: transparent;
    margin-left: 10px;
    margin-bottom: 10px;
}


        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: transparent !important; /* Fallback color */
           /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        .modal-dialog {
            max-width: 600px; /* New width for default modal */
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }



        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
            .styled-table td {
                padding: 30px;
            }
            .styled-table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
            }
            .styled-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .styled-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .styled-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }
                .styled-table tbody tr.active-row {
                    font-weight: bold;
                    color: #009879;
                }
        .modal-header {
            padding: 9px 15px;
            border-bottom: 1px solid #eee;
            background-color: #0480be;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        #myBtn {
            background: #1AAB8A;
            color: #fff;
            border: none;
            position: relative;
            height: 60px;
            font-size: 1.6em;
            padding: 0 2em;
            cursor: pointer;
            transition: 800ms ease all;
            outline: none;
        }

            #myBtn:hover {
                background: #fff;
                color: #1AAB8A;
            }

            #myBtn:before, #myBtn:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 2px;
                width: 0;
                background: #1AAB8A;
                transition: 400ms ease all;
            }

            #myBtn:after {
                right: inherit;
                top: inherit;
                left: 0;
                bottom: 0;
            }

            #myBtn:hover:before, #myBtn:hover:after {
                width: 100%;
                transition: 800ms ease all;
            }





        #MyTable {
            table-layout: auto;
            width: 100%;
        }
        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 400px;
            max-height: 100%;
            width: 600px;
            max-width: 100%;
        }